extends ../default

block content
  main(class='container')
      include ../templates/nav
      header
      aside
        form(action='' method='get')
          h1(class='bg-success',align='center')= 'Lista de Medicos Contratados'
          div(class='page-header')
          table(class='table', id='tblMedicos')
            thead
              tr
                th='Rut'
                th='Nombre'
                th='Fecha de Contratacion'
                th='Especialidad'
                th='Valor de consulta'
                th='Acción'
            tbody
            each medico in medicos
              tr
                td(id=id_med)=medico.id_med
                td=medico.name_med
                td=medico.fec_contra
                td=medico.esp_med
                td=medico.valor_med
                td
                  a(class='btn btn-default', href='/medicos/modificarMed/'+medico.id_med)='Modificar'
                    span(class='glyphicon glyphicon-pencil')      
      footer