extends ../default

block content
  main(class='container')
      include ../templates/nav
      header
        h1(class='bg-success',align='center')= 'Modificar Datos del Medico: '+medico[0].name_med
        div(class='page-header')
      aside
        div(class='panel panel-success')
            div(class='panel-heading')='Modificar Datos Personales'
            div(class='panel-body')
                form(action='http://localhost:3000/medicos/modificandoMed' method='post')
                    div(class='form-group')
                        label(for='id')='Rut: '
                        input(type='text',class='form-control',name='id', placeholder='11.111.111-1',required, value=medico[0].id_med)
                    div(class='form-group')
                        label(for='name')='Nombre: '
                        input(type='text',class='form-control',name='name', placeholder='Nombre Completo...',required, value=medico[0].name_med)
                    div(class='form-group')
                        label(for='contra')='Fecha de Contratación: '
                        input(type='date',class='form-control', name='contra',required, value=medico[0].fec_contra)
                    div(class='form-group')
                        label(for='esp')='Especialidad: '
                        select(name='esp', class='form-control')
                            option(value=medico[0].esp_med)='Especialidad Seleccionada: '+medico[0].esp_med
                            option(value='Pediatria')='Pediatria'
                            option(value='Neurocirujano')='Neurocirujano'
                            option(value='Nutricionista')='Nutricionista'
                            option(value='Kinesiologo')='Kinesiologo'
                    div(class='form-group')
                        label(for='valor')='Valor Consulta: '
                        input(type='number',class='form-control', name='valor',required, value=medico[0].valor_med)
                    div(class='form-group')
                        button(class='btn btn-success')='Modificar'
                            span(class='glyphicon glyphicon-ok')
                        br
                div(class='form-group')            
                    a(class='btn btn-danger', href='/medicos/eliminarMedico/'+medico[0].id_med)='Eliminar'
                        span(class='glyphicon glyphicon-trash')
      footer