extends ../default

block content
  main(class='container')
      include ../templates/nav
      header
        h1(class='bg-success',align='center')= 'Contratar Medico'
        div(class='page-header')
        if info != undefined
                div(class='alert alert-success alert-dismissable')
                    a(href='#', class='close', data-dismiss='alert' aria-label='close')='x'
                    strong=info
      aside
        form(action='http://localhost:3000/medicos/crearMedico', method='post')
            div(class='panel panel-success')
                div(class='panel-heading')='Datos Personales'
                div(class='panel-body')
                    div(class='form-group')
                        label(for='id')='Rut: '
                        input(type='text',class='form-control',name='id', placeholder='11.111.111-1',required)
                    div(class='form-group')
                        label(for='name')='Nombre: '
                        input(type='text',class='form-control',name='name', placeholder='Nombre Completo...',required)
                    div(class='form-group')
                        label(for='contra')='Fecha de Contratación: '
                        input(type='date',class='form-control', name='contra',required)
                    div(class='form-group')
                        label(for='esp')='Especialidad: '
                        select(name='esp', class='form-control')
                            option='Seleccione Especialidad...'
                            option(value='Pediatria')='Pediatria'
                            option(value='Neurocirujano')='Neurocirujano'
                            option(value='Nutricionista')='Nutricionista'
                            option(value='Kinesiologo')='Kinesiologo'
                    div(class='form-group')
                        label(for='valor')='Valor por Consulta: '
                        input(type='number',class='form-control', name='valor', placeholder='$0000000',required)
                    div(class='form-group')
                        button(class='btn btn-success')='Registrar'
      footer