extends default

block content
  main(class='container')
      include templates/nav
      header
        h1(class='bg-success')= title
      aside
        //aviso de alguna eliminacion
        if infoDel != undefined
          div(class='alert alert-danger alert-dismissable')
              a(href='#', class='close', data-dismiss='alert' aria-label='close')='x'
              strong=infoDel
        //aviso de alguna modificacion      
        if infoMod != undefined
          div(class='alert alert-warning alert-dismissable')
            a(href='#', class='close', data-dismiss='alert' aria-label='close')='x'
            strong=infoMod    
        //Aviso de algun registro
        if infoAdd != undefined
          div(class='alert alert-success alert-dismissable')
            a(href='#', class='close', data-dismiss='alert' aria-label='close')='x'
            strong=infoAdd
            br
            // CAROUSEL
        #myCarousel.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active(style='height: 500px;')
              img.img-responsive(src='images/2.jpg', alt='1')
            .item(style='height: 500px;')
              img.img-responsive(src='images/3.jpg', alt='2')
            .item(style='height: 500px;')
              img.img-responsive(src='images/4.jpg', alt='3')
          // Left and right controls
          a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Anterior
          a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Siguiente
            br
      footer
        table
            tr
              td(colspan='2') Autor: A&M Ltda. 
            tr
              td Contacto: 
              td TetengoHospital@hotmail.com
            tr
              td(colspan='2') ©Todos los derechos reservados
