extends default

block content
  main(class='container')
      include templates/nav
      header
        h1(class='bg-success',align='center')= 'Modificar Datos del Paciente: '+paciente[0].name_pac
        div(class='page-header')
      aside
        div(class='panel panel-success')
            div(class='panel-heading')='Datos Personales'
            div(class='panel-body')
                form(action='http://localhost:3000/modificandoPac' method='post')
                    div(class='form-group')
                        label(for='id')='Rut: '
                        input(type='text',class='form-control',name='id', placeholder='11.111.111-1',required, value=paciente[0].id_pac)
                    div(class='form-group')
                        label(for='name')='Nombre: '
                        input(type='text',class='form-control',name='name', placeholder='Nombre Completo...',required, value=paciente[0].name_pac)
                    div(class='form-group')
                        label(for='birth')='Fecha de Nacimiento: '
                        input(type='date',class='form-control', name='birth',required, value=paciente[0].fec_pac)
                    div(class='form-group')
                        label(for='sex')='Sexo: '
                        select(name='sex', class='form-control')
                            option(value=paciente[0].sexo_pac)='Sexo seleccionado = '+paciente[0].sexo_pac
                            option(value='H')='Hombre'
                            option(value='M')='Mujer'
                    div(class='form-group')
                        label(for='dir')='Dirección: '
                        input(type='text',class='form-control', name='dir', placeholder='Calle #0000',required, value=paciente[0].dir_pac)
                    div(class='form-group')
                        label(for='fono')='Telefono: '
                        input(type='text',class='form-control', name='fono', placeholder='+562(9) 5555 5555',required, value=paciente[0].fono_pac)
                    div(class='form-group')
                        button(class='btn btn-success')='Modificar'
                        br
                div(class='form-group')            
                    a(class='btn btn-danger', href='../eliminarPaciente/'+paciente[0].id_pac)='Eliminar'
      footer