extends default

block content
  main(class='container')
      include templates/nav
      header
        h1(class='bg-success',align='center')= 'Agregar Paciente'
        div(class='page-header')
        if info != undefined
                div(class='alert alert-success alert-dismissable')
                    a(href='#', class='close', data-dismiss='alert' aria-label='close')='x'
                    strong=info
      aside
        form(action='http://localhost:3000/crearPaciente', method='post')
            div(class='panel panel-success')
                div(class='panel-heading')='Datos Personales'
                div(class='panel-body')
                    div(class='form-group')
                        label(for='id')='Rut: '
                        input(type='text',class='form-control',name='id', placeholder='11.111.111-1',required)
                    div(class='form-group')
                        label(for='name')='Nombre: '
                        input(type='text',class='form-control',name='name', placeholder='Nombre Completo...',required)
                    div(class='form-group')
                        label(for='birth')='Fecha de Nacimiento: '
                        input(type='date',class='form-control', name='birth',required,placeholder='dd-mm-aaaa')
                    div(class='form-group')
                        label(for='sex')='Sexo: '
                        select(name='sex', class='form-control')
                            option='Seleccione Sexo...'
                            option(value='H')='Hombre'
                            option(value='M')='Mujer'
                    div(class='form-group')
                        label(for='dir')='Dirección: '
                        input(type='text',class='form-control', name='dir', placeholder='Calle #0000',required)
                    div(class='form-group')
                        label(for='fono')='Telefono: '
                        input(type='text',class='form-control', name='fono', placeholder='+562(9) 5555 5555',required)
                    div(class='form-group')
                        button(class='btn btn-success')='Registrar'
      footer