extends default

block content
  main(class='container')
      include templates/nav
      header
      aside
        form(action='' method='get')
          h1(class='bg-success',align='center')= 'Lista de Pacientes Registrados'
          div(class='page-header')
          table(class='table', id='tblPacientes')
            thead
              tr
                th='Rut'
                th='Nombre'
                th='Fecha de Nacimiento'
                th='Sexo'
                th='Dirección'
                th='Fono'
                th='Acción'
            tbody
            each paciente in pacientes
              tr
                td(id=id_pac)=paciente.id_pac
                td=paciente.name_pac
                td=paciente.fec_pac
                td=paciente.sexo_pac
                td=paciente.dir_pac
                td=paciente.fono_pac
                td
                  a(class='btn btn-default', href='/modificarPac/'+paciente.id_pac)='Modificar'
                    span(class='glyphicon glyphicon-pencil')
                    
        if infoDel != undefined
                  div(class='alert alert-danger alert-dismissable')
                      a(href='#', class='close', data-dismiss='alert' aria-label='close')='x'
                      strong=infoDel

        if infoUp != undefined
                  div(class='alert alert-primary alert-dismissable')
                    a(href='#', class='close', data-dismiss='alert' aria-label='close')='x'
                    strong=infoUp             
      footer
