nav(class='navbar navbar-inverse')
    div(class='container-fluid')
        div(class='navbar-header')
            a(class='navbar-brand',href='/')='Hospital Tetengo'
        ul(class='nav navbar-nav')
             a(class='navbar-brand',href='/')='Home'
                span(class='glyphicon glyphicon-home')       
        ul(class='nav navbar-nav')
            li(class='dropdown')
                a(class='dropdown-toggle',data-toggle='dropdown',href='#')='Paciente'
                    span(class='caret')
                ul(class='dropdown-menu')
                    li
                        a(href='/nuevoPaciente')='Agregar Paciente'
                    li
                        a(href='/pacientes')='Listar Pacientes'
        ul(class='nav navbar-nav')
            li(class='dropdown')
                a(class='dropdown-toggle',data-toggle='dropdown',href='#')='Doctor'
                    span(class='caret')
                ul(class='dropdown-menu')
                    li
                        a(href='/medicos/nuevoMedico')='Contratar Medico'
                    li
                        a(href='/medicos/medicosList')='Lista de Medicos'
        ul(class='nav navbar-nav')
            li(class='dropdown')
                a(class='dropdown-toggle',data-toggle='dropdown',href='#')='Atenciones'
                    span(class='caret')
                ul(class='dropdown-menu')
                    li
                        a(href='/atencion/nuevaAtencion')='Registrar Atención'
                    li
                        a(href='/atencion/atencionList')='Lista de Atenciones'