body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url(../images/hospital.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	padding-top: 100px;
}

.carousel img{
	width: 100%;
	max-height: 500px;
}


footer {
    background-color: lightblue;
    color: #2E2EFE;
    padding: 10px;
    border-radius: 10px;
    margin-top: 60px;
}

a {
  color: #00B7FF;
}
