extends ../default

block content
  main(class='container')
      include ../templates/nav
      header
      aside
        form(action='' method='get')
          h1(class='bg-success')= 'Lista de Atenciones'
          div(class='page-header')
          table(class='table', id='tblAtenciones')
            thead
              tr
                th='Id de Atención'
                th='Fecha/Hora de atencion'
                th='Rut Paciente'
                th='Estado de la Atencion'
                th='Medico de Atención'
                th='Especialidad'
                th='Acción'
            tbody
            each atencion in atenciones
              tr
                td(id=id_aten)=atencion.id_aten
                td=atencion.fec
                td=atencion.pac_id
                td=atencion.estado_aten
                td=atencion.name_med
                td=atencion.esp_med
                td
                  a(class='btn btn-default', href='/atencion/modificarAten/'+atencion.id_aten)='Actualizar'
                    span(class='glyphicon glyphicon-pencil')      
      footer