title= 'atencion'
extends ../default

block content
  main(class='container')
      include ../templates/nav
      header
        h1(class='bg-success',align='center')= 'Registrar Atención para Kinesiologia'
        div(class='page-header')
      aside
        form(action='http://localhost:3000/atencion/crearAtencion', method='post')
            div(class='panel panel-success')
                div(class='panel-heading')='Registro de atención'
                div(class='panel-body')
                    div(class='form-group')
                        label(for='fecha')='Fecha/Hora de Atención: '
                        input(type='datetime-local',class='form-control', name='fecha',required)
                    div(class='form-group')
                        label(for='idPac')='Rut de Paciente: '
                        input(type='text',name='idPac', list='rutPac',class='form-control', placeholder='11.111.111-1',required)
                    div(class='form-group')
                        label(for='idMed')='Especialista: '
                        select(name='idMed', class='form-control')
                            each kine in medicoKine
                                option='Seleccione Especialista'
                                option(value=kine.id_med)=kine.name_med
                    div(class='form-group')
                        button(class='btn btn-success')='Registrar'
      footer