extends ../default

block content
  main(class='container')
      include ../templates/nav
      header
        h1(class='bg-success',align='center')= 'Modificar Datos de la Atención: '+atencion[0].id_aten
        div(class='page-header')
      aside
        div(class='panel panel-success')
            div(class='panel-heading')='Modificar Datos'
            div(class='panel-body')
                form(action='http://localhost:3000/atencion/modificandoAten' method='post')
                    div(class='form-group')
                        label(for='fec')='Fecha de Atención: '
                        input(type='datetime-local',class='form-control', name='fec',required, value=atencion[0].fec)
                    div(class='form-group')
                        label(for='estado')='Especialidad: '
                        select(name='estado', class='form-control')
                            option(value='Agendado')='Agendado'
                            option(value='Confirmada')='Confirmada'
                            option(value='Anulada')='Anulada'
                            option(value='Perdida')='Perdida'
                            option(value='Realizada')='Realizada'
                    div(class='form-group')
                        button(class='btn btn-success')='Modificar'
                            span(class='glyphicon glyphicon-ok')
      footer