extends ../default

block content
  main(class='container')
      include ../templates/nav
      header
        h1(class='bg-success',align='center')= 'Registrar Atencion'
        div(class='page-header')
      aside
        div(class='panel panel-success')
            div(class='panel-heading')='Selección de Especialidad'
            div(class='panel-body')
                div(class='form-group')
                    label(for='ped')='Ingrese el rut del paciente... (en caso de no aparaecer en la lista se debe registrar) '
                    input(type='text',name='idPac', list='rutPac',class='form-control', placeholder='11.111.111-1',required)
                    datalist(id='rutPac')
                            each pac in idPac
                                option(value=pac.id_pac)=pac.id_pac
                div(class='form-group')
                    label(for='ped')='Registrar Atencion para Pediatria: '
                    a(class='btn btn-success' href='/atencion/atencionPed')='Registrar'
                div(class='form-group')
                    label(for='kine')='Registrar Atencion para Kinesiologia: '
                    a(class='btn btn-success' href='/atencion/atencionKine')='Registrar'
                div(class='form-group')
                    label(for='neu')='Registrar Atencion para Neurocirugia: '
                    a(class='btn btn-success' href='/atencion/atencionNeu/')='Registrar'
                div(class='form-group')
                    label(for='fecha')='Registrar Atencion para Nutricionista: '
                    a(class='btn btn-success' href='/atencion/atencionNutri/')='Registrar'
      footer